{% extends 'base.html' %}

{% block content %}
    <form action="#" method="POST" class="form-control" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-auto">
                <label for="horses">Лошади</label>
                <div  class="col-sm-auto">
                    <select class="form-select" id="horses" name="horses" multiple size="3" title="Жанр книги">
                        {% for horse in horses %}
                        <option value="{{ horse.id }}">{{ horse.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 col-auto">
                <label for="jockeys">Жокеи</label>
                <div  class="col-sm-auto">
                    <select class="form-select" id="jockeys" name="jockeys" multiple size="3" title="Жанр книги">
                        {% for jockey in jockeys %}
                        <option value="{{ jockey.id }}">{{ jockey.full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 col-3">
                <label for="date">Дата проведения <p class="text-muted">(г-м-д)</p></label>
                <div class="col-sm-10">
                    <input id="date" name="date" type="text"  class="form-control"  autocomplete="off"> 
                </div>
            </div>
        </div>
        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-dark" value="Сохранить">
        </div>
    </form>
{% endblock  %}