{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section class="about">
        <h1 class="text-center">{{book.name_book}}</h1>
        <div class="row">
            <div class="col-3 d-flex flex-column">
                <p class="flex-grow-1"><img src="{{book.covers.url}}" alt="" style="max-width: 200px;"></p>
                <span>★{{book.score}} ({{book.recives_count}})</span>
                <span>Жанр(ы): {%for genry in book.genrys %}{{genry.name}} {%endfor%}</span>
                <span>Издательство: {{book.publishing_house}}</span>
                <span>Автор: {{book.author}}</span>
                <span>Объем: {{book.volume}}</span>
            </div>
            <div class="col">
                <p>{{ book.formatted_description|safe }}</p>
            </div>
        </div>
    </section>
    <section class="notice mt-5">
        <h3 class="text-center">Рецензии</h3>
        {% for recive in book.recives %}
        <div class=" ms-5 d-flex">
            <div class="flex-grow-1">
                <h5> {{ recive.user.full_name }} <small class="text-muted">{{recive.date_added}}</small> </h5>
                <p> {{recive.formatted_text | safe}}</p>
            </div>
            <div>
                <span>{% for i in range (recive.mark)%}★{%endfor%}</span> 
            </div>
        </div>
        {% endfor %}
        {% if current_user.is_authenticated and not curr_recive %}
        <div class="row">
            <a class="btn btn-dark my-3 col-2 mx-auto" href="{{ url_for('books.recive', book_id=book.id) }}" role="
                    button">Написать рецензию</a>
        </div>
        {% elif curr_recive %}
        <section>

            <h4 class="text-center  mt-5">Ваша рецензия</h4>       
            <div class="ms-5 mb-2 d-flex border-bottom">
                <div class="flex-grow-1">
                    <h5>{{ curr_recive.user.first_name }} {{ curr_recive.user.last_name }} <small class="text-muted">{{curr_recive.date_added}}</small></h5>
                    {{ curr_recive.formatted_text | safe}}
                </div>
                <div>
                    {% for i in range (curr_recive.mark)%}★{%endfor%}
                </div>
            </div>
        </section>
        
    {% endif %}

    </section>
</div>


{% endblock %}